@mixin border {
    border: 2px solid black;
    border-radius: 8px;
}
@mixin bgd ($bgd){
    background-color: $bgd;
}
*{
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-direction: row;
}
.pink{
    @include border();
    @include bgd(pink);
    text-align: center;
}
 .purple {
     @include border();
     @include bgd(purple);
     text-align: center;
}
 .blue {
     @include border();
     @include bgd(lightblue);
     text-align: center;
 }
.text {
    @include bgd(lightblue);
    border: 2px solid black;    
}

 .Bloc1{
     order: 2;
 }
 .Bloc2{
     order:5;
 }
 .Bloc3{
     order: 4;
 }